* {
  margin: 0 auto;
}

body {
  background-color: aliceblue;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  height: 500px;
  margin-top: 50px;
  opacity: 7;
}

.left {
  width: 455px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side {
  margin-left: 50px;
  margin-top: 50px;
}

.box {
  width: 350px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: none;
}

.box1,
.box2 {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.box1 p,
.box2 p {
  color: gray;
  text-align: center;
  padding-top: 3px;
}

.box1 .p1,
.box2 .p1 {
  font-family: 900;
  font-size: 19px;
}

.box1 .p1 a,
.box2 .p1 a {
  text-decoration: none;
  color: cornflowerblue;
}

.box1 .p1 a:hover,
.box2 .p1 a:hover {
  color: black;
}

.small-box {
  width: 150px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9fa;
  margin-top: 0px;
  border: none;
  border-radius: 10px;
}

.small-box img {
  width: 150px;
  height: 170px;
  border: none;
  border-radius: 10px 10px 0 0;
}

.facebook {
  color: cornflowerblue;
  font-weight: 900;
  font-size: 37px;
}

.recent {
  font-weight: 500;
  font-size: 25px;
  margin-top: 10px;
}

.click {
  color: gray;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 365px;
  height: 330px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 20px;
}

.small {
  width: 365px;
  height: 300px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

input {
  width: 345px;
  height: 41px;
  margin-top: 15px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  font-size: 17px;
}

input:active {
  border: 1px solid blue;
}

.log-in {
  width: 345px;
  height: 47px;
  font-size: 21px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.log-in a {
  text-decoration: none;
  color: white;
}

.forgot {
  color: #4646d3;
  margin: 17px 0;
  text-align: center;
}

.forgot a {
  text-decoration: none;
  color: #4646d3;
}

.create {
  width: 199px;
  height: 50px;
  color: white;
  background-color: #40bb40;
  border: none;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
}

.create a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 17px;
}

.cele {
  text-align: center;
  color: #1c1e21;
  margin-top: 50px;
}

.cele span {
  font-weight: 900;
}

.cele span a {
  text-decoration: none;
  color: black;
}

.cele span a:hover {
  color: blue;
}

a:hover {
  color: black;
}
/*# sourceMappingURL=facebook-log-in.css.map */